/*-------------- LOGO DISPLAY - Made By FAXES -------------- */

#logo .contenair{
	position:absolute;
	z-index: 2;    
	width: 150px;									
	height:115px;									
	left:95%;										
	top:99%;										
	margin:-150px 0 0 -115px;    					
	opacity: 0.60; 
	background: url('img/logo.png');				
	padding: none; 									
    
}
	
#logo .spacer{
	z-index: 2;
	width: 100%;
	height: 120px;
	margin: 0;  
	text-align: left;
  background: transparent;	
}
	













