#food {

}

.photo {
	position: fixed;
	bottom: 30px;
	left: 335px;
}

.photo2 {
	position: fixed;
	bottom: 30px;
	left: 440px;
}

#status_list {
	position: relative;
	left   : 10px;
	bottom : 10px;
	width  : 14.5%;
	opacity: 0.4;
}

.status {
	 padding: 1px;
	 margin: 0.3em;
 }
 
 .status_inner {
	 padding: 1px;
	 height : 90px;
	 width: 90px;
	 border-radius: 50%;
 }
 
 .status_val {
	 height: 90px;
	 width: 90px;
	 border-radius: 50%;
 }